<!DOCTYPE html>
<html>
<head>
  <title>WheneverManager</title>
  <%= stylesheet_link_tag    "whenever_manager/application", :media => "all" %>
  <%= javascript_include_tag "whenever_manager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
